@import "../../../_settings.scss";


.design-into-code-conversion {
	padding: rem-calc(40) 0;
	background: #566372;
	border-top: rem-calc(5) solid #E5FFB1;
	border-bottom: rem-calc(5) solid #E5FFB1;
}
