@import "../../../_settings.scss";

.workflowCard {
	background: #638199;
	box-shadow: $z-2;
	margin-bottom: rem-calc(40);
}

.workflowCard-title {
	padding: rem-calc(80) 0;

	h3 {
		text-shadow: rem-calc(-2) rem-calc(3) 0 rgba(0,0,0,0.80); 
		color: #fff;
	}
}

.workflowCard-description {
	padding: rem-calc(16) rem-calc(12);

	p {
		color: #fff; 
		font-weight: normal; 
		margin: 0;
	}
}

.workflowCard#site-layout-planning .workflowCard-title {
	background: url('/img/our-services/web-development/new-project-workflow/site-layout-planning.png') center center/cover no-repeat;
}

.workflowCard#design-phase .workflowCard-title {
	background: url('/img/our-services/web-development/new-project-workflow/design-phase.png') center center/cover no-repeat;

	h3 {
		color: $black;
		text-shadow: none;
	}
}

.workflowCard#coding-development-stage .workflowCard-title {
	background: url('/img/our-services/web-development/new-project-workflow/coding-development-stage.png') center center/cover no-repeat;
}

// --------------------------------------------------
// |            #post-production-actions            |
// --------------------------------------------------

.row-expanded#post-production-actions {
	background: #fff;
	padding: rem-calc(20) 0;

	.icon {
		width: 70px; 
		float: left; 
		padding-top: 30px;
	}

	.prose {
		padding-left: 90px;
	}
}


