@import "../../../_settings.scss";


@include breakpoint(medium) {
	.recent-projects-modal#essential-sound-production-project {
		.modal-images {
			position: relative;

			.image-1 {
				position: absolute; 
				background: #fff; 
				height: 100%;

				img {
					@include vertical-center;
				}
			}

			.image-2 {
				img {
					width: 100%;
				}
			}

			.image-3 {
				img {
					position: absolute;
					height: 100%;
				}
			}
		}
	}
}

