@import "../../_settings.scss";

body,
html {
	height: 100%;
}


.bgvid-container {
	position: relative;
	text-align: center;
	top: 0;
	left: 0;
	min-height: 100%;
	overflow: hidden;

	div {
		position: static !important;

		.gfy-video {
			position: absolute !important;
			z-index: 1 !important;
			left: 50% !important;
			min-width: 100% !important;
			min-height: 100% !important;
			
			// top: 50% !important;
			// -webkit-transform: translateX(-50%) translateY(-50%) !important;
			// transform: translateX(-50%) translateY(-50%) !important;

			top: 0 !important;
			-webkit-transform: translateX(-50%) !important;
			transform: translateX(-50%) !important;

			width: auto !important;
			height: auto !important;
		}
	}
}