@import "../../_settings.scss";

$min-height-768: "only screen and (min-height : 768px)";
$min-height-900: "only screen and (min-height : 900px)";
$min-height-1080: "only screen and (min-height : 1080px)";

.bgvid-container {
	position: relative;
	text-align: center;
	top: 0;
	left: 0;
	overflow: hidden;
	// height: 420px;

	@media #{$min-height-768} {
		height: 700px;
	}

	@media #{$min-height-900} {
		height: 800px;
	}

	@media #{$min-height-1080} {
		height: 900px;
	}

	div {
		position: static !important;

		.gfy-video {
			position: absolute !important;
			z-index: 1 !important;
			left: 50% !important;
			min-width: 100% !important;
			min-height: 100% !important;

			// Video vertically centered
			top: 50% !important;
			-webkit-transform: translateX(-50%) translateY(-50%) !important;
			transform: translateX(-50%) translateY(-50%) !important;

			// Video at top
			// top: 0 !important;
			// -webkit-transform: translateX(-50%) !important;
			// transform: translateX(-50%) !important;

			width: auto !important;
			height: auto !important;
		}
	}
}