@import "../../_settings.scss";

.reveal.row {
	width: 100%;
}

.recent-projects-modal {
	background: #F4F4F4;
	box-shadow: rem(-6) rem(8) 0 0 rgba(86,99,113,0.50);
	border-radius: rem(4);

	.image-row {
		img {
			display: inline-block;
			max-height: 225px;
		}
	}
}


