@import "../../_settings.scss";

#index {
	.recent-projects {
		.projectCard {
			position: relative; 
			color: #fff;

			.projectCard-info {
				padding-top: 10%; 
				text-align: center; 
				position: absolute; 
				z-index: 10; 
				width: 100%; 
				background: rgba(68,68,68,0.75); 
				height: 100%;
				opacity: 0;

				&:hover {
					opacity: 1;
				}

				h3 {
					margin: 0;
				}

				h4 {
					margin-bottom: 20px;
				}

				a {
					padding: 14px 35px; 
					border-radius: 2px; 
					border: 1px solid #F4F4F4; 
					background: #F4F4F4; 
					font-size: 16px; 
					transition: none;
					color: #222;

					&:hover {
						background: #566372;
						border: 1px solid #FFFFFF;
						border-radius: 2px;
						color: #fff;
					}
				}
			}

			.projectCard-image {
				border: 3px solid #566372;
			}
		}
	}
}

