
.splash-video-header {
	background: $body-background url('#{$url}/img/index/website-mashup-video/studio-n-creations-website-mashup-poster.jpg') center center/cover no-repeat;

	.prose-grid {
		height: 90vh;
		min-height: 420px;
	}

	.prose-cell {
		z-index: 20;
		padding-bottom: rem-calc(40);

		h1 {
			line-height: 1.2;
			text-shadow: rem-calc(-4) rem-calc(5) 0 rgba(0,0,0,.45);
			text-shadow: rem-calc(-4) rem-calc(5) 0 #000;
			margin: 0;
		}

		h2 {
			text-shadow: rem-calc(-3) rem-calc(3) 0 rgba(0,0,0,.45);
			text-shadow: -2px 2px 10px #000;
			text-shadow: rem-calc(-3) rem-calc(3) 0 #000;
		}
	}

	.backgroundVideo-container {
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(90deg, #566372, #566372);
			background-image: linear-gradient(90deg, #444, #444);
			background-image: linear-gradient(90deg, #c8dc65, #c8dc65);
			background-image: linear-gradient(90deg, #5ac4be, #5ac4be);
			opacity: .5;
			mix-blend-mode: multiply;
		}
	}

	#backgroundVideo {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		transform: translateX(-50%) translateY(-50%);
	}
}
