.index-blog-roll-section {
	a.article-unit-link {
		display: block;
		position: relative;
		color: #fff;

		.prose {
			bottom: 16px;
			position: absolute;
			z-index: 3;
		}

		.headline {
			text-transform: initial;
		}
	}
}
