.web-development-steps-1-2-3 {
	.step-wrap {
		margin-bottom: 60px;

		img {
			height: 360px;
			width: 100%;
			object-fit: cover;
		}

		.prose-wrap {
			max-width: 440px;
		}
	}

	.step-wrap.step-1,
	.step-wrap.step-3 {
		.prose-wrap {
			margin-left: 30px;
		}
	}

	.step-wrap.step-2 {
		.prose-wrap {
			margin-right: 30px;
		}
	}
}
