@import "../_settings.scss";
@import "typography/_fonts.scss";


h1,
h3 {
	font-family: 'Source Code Pro', Consolas, 'Liberation Mono', Courier, monospace;
	font-weight: 600;
	text-transform: uppercase;
}

h2 {
	font-weight: 700;
}

p,
h6 {
	font-weight: 300;
}

h5,
h6 {
	text-transform: uppercase;
	letter-spacing: rem(1.5);
}