@import "../_settings.scss";


// NO PADDING
.p-0 {
	padding: 0;
}

// NO MARGIN
.m-0 {
	margin: 0;
}

// PADDING X
.padding-x {
	padding: 0 rem(16);
}

// PADDING Y
.padding-y {
	padding: rem(16) 0;
}

.inline-block {
	display: inline-block;
}