<div class="bubble-bg">
	<section class="contact-form contact-banner">
		<div class="row text-center section-title">
			<h2>Have a project in mind?</h2>
			<div class="modalTrigger">
				<a class="monospace" data-open="contactModal">Let's talk!</a>
			</div>
		</div>
	</section>
	<footer>
		<div class="row position-relative" style="z-index: 10;">
			<div class="text-center medium-text-left medium-6 large-4 columns color-white mb-12">
				<h5>&copy; Studio N Creations 2023</h5>
			</div>
			<div class="text-center medium-text-right large-text-center medium-6 large-4 columns color-white mb-12">
				<h5>Coded with care in Houston,&nbsp;TX</h5>
			</div>
			<div class="large-4 columns color-white text-center large-text-right">
				<ul class="meta-nav large-vertical menu h5 simple">
					<li><a href="/">About</a></li>
					<li><a href="/our-services/web-development">Services</a></li>
					<li><a href="https://studioncreations.com/blog/">Blog</a></li>
				</ul>
				<!-- <div class="row social-icons">
					<div class="small-4 medium-2 medium-push-3 large-4 large-push-0 text-right columns">
						<a href="https://www.facebook.com/studio.n.creations" target="_blank"><img srcset="{{ cdn }}/img/assets/icons/facebook_2x.png 2x" src="{{ cdn }}/img/assets/icons/facebook.png" alt="Facebook Icon" title="Studio N Creations Facebook Page Link"></a>
					</div>
					<div class="small-4 medium-2 medium-push-3 large-4 large-push-0 text-center columns">
						<a href="https://www.pinterest.com/studioncreation/" target="_blank"><img srcset="{{ cdn }}/img/assets/icons/pinterest_2x.png 2x" src="{{ cdn }}/img/assets/icons/pinterest.png" alt="Pinterest Icon" title="Studio N Creations Pinterest Account Link"></a>
					</div>
					<div class="small-4 medium-2 medium-push-3 large-4 large-push-0 end columns">
						<a href="https://www.instagram.com/studio.n.creations/" target="_blank"><img srcset="{{ cdn }}/img/assets/icons/instagram_2x.png 2x" src="{{ cdn }}/img/assets/icons/instagram.png" alt="Instagram Icon" title="Studio N Creations Instagram Account Link"></a>
					</div>
				</div> -->
			</div>
		</div>
	</footer>
</div>
