<div class="hide-for-medium" id="mobileNavBar-wrapper">
<!-- <div class="hide-for-medium" id="offCanvas-menu--toggle"> -->
	<!-- <div id="contactModal-toggle--wrapper">
		<a data-open="contact-modal"><img src="/img/assets/icons/phone.svg" alt="Phone Icon"></a>
	</div> -->
	<!-- <a data-open="contact-modal"><img src="/img/assets/icons/phone.svg" alt="Phone Icon"></a> -->
	<!-- <a id="phoneIcon"><img src="/img/assets/icons/phone.svg" alt="Phone Icon"></a> -->
	<button id="offCanvas-menu--toggle" type="button" class="button monospace" data-toggle="offCanvas-menu">Menu <i class="hamburger"></i></button>		
</div>

<!-- <div id="mobileNav-wrapper"></div> -->