<div id="top-nav" class="menu-wrapper" style="padding-top: 12px; position: absolute; width: 100%; z-index: 10;">
	<div class="row">
		<ul class="menu align-right">
			<li style="margin-left: 16px; background: #F4F4F4; border-radius: 3px;"><a style="padding: 12px; color: #222; font-size: 22px;" class="monospace" href="#">Menu <i class="hamburger"></i></a></li>
			<li style="margin-left: 16px; background: #F4F4F4; border-radius: 3px;"><a style="padding: 12px; color: #222; font-size: 22px;" class="monospace" href="#">Portfolio</a></li>
		</ul>
	</div>
</div>