<nav class="show-for-medium">
	<div id="top-nav" data-toggle="hidden-nav">
		<aside>
			<ul class="menu" id="contact-links">
				<li><a style="font-size: 40px; line-height: 40px; padding-top: 0; padding-bottom: 6px;" href="#"><strong>@</strong></a></li>
			</ul>
		</aside>
		<ul class="menu align-right">
			<li id="menu-toggle"><a class="monospace" data-toggle="hidden-nav" >Menu <i class="hamburger"></i></a></li>
			<!-- <li><a href="/" class="monospace">Portfolio</a></li> -->
		</ul>
	</div>

	<div id="hidden-nav" data-toggler data-animate="slide-in-down slide-out-up" class="menu-wrapper">
		<!-- <ul class="menu align-right" style="margin-right: 328px;">  --> <!-- (for use with Menu + Portfolio) -->
		<ul class="menu align-right" style="margin-right: 166px;"> <!-- (for use with only Menu) -->
			<li><a href="/our-services/web-development.php" class="monospace">Services</a></li>
			<li><a href="/" class="monospace">Home</a></li>
		</ul>
	</div>
</nav>