<div id="top-nav" data-responsive-toggle="slide-in-nav" data-hide-for="" class="title-bar menu-wrapper">
	<div class="row">
		<ul class="menu align-right">
			<li id="menu-toggle"><a class="monospace" data-toggle="slide-in-nav">Menu <i class="hamburger"></i></a></li>
			<!-- <li><a class="monospace" href="#">Portfolio</a></li> -->
		</ul>
	</div>
</div>

<div id="slide-in-nav" class="top-bar menu-wrapper">
	<div class="row">
		<ul class="menu align-right">
			<!-- <li style="visibility: hidden;"><a class="monospace" data-toggle="slide-in-nav">Menu <i class="hamburger"></i></a></li> -->
			<li style="margin-right: 132px;"><a class="monospace" href="/">Portfolio</a></li>
		</ul>
	</div>
</div>