.blog-roll-section {
	background: $snc-dull-blue;

	.section-title {
		@include separator(center, 4px, rem-calc(150), #fff, rem-calc(8));

		a {
			color: #fff;

			&:hover {
				text-decoration: underline;
				text-underline-offset: 8px;
				text-decoration-color: $macos-blue;
			}

			&:after {
				content: '>';
				margin-left: rem-calc(16);
				color: $macos-blue;
			}
		}
	}

	a.article-unit-link {
		display: block;
		position: relative;
		color: #fff;

		img {
			height: rem-calc(200);
			object-fit: cover;
			width: 100%;

			@include breakpoint(medium) {
				height: rem-calc(240);
			}
		}

		&:hover {
			.article-headline {
				text-decoration: underline;
				text-underline-offset: 4px;
				text-decoration-color: $macos-blue;
			}

			&:after {
				background-image: linear-gradient(180deg, #c8dc66 0%, #0079ff 100%);
				// background-image: linear-gradient(180deg, #0079ff 0%, #c8dc66 100%);
			}
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #a1a1a1;
			mix-blend-mode: multiply;
		}

		.prose-wrap {
			bottom: 0;
			padding: rem-calc(0 16 16);
			z-index: 10;
			width: 100%;
			max-width: rem-calc(300);

			@include horizontal-center;

			@include breakpoint(500) {
				max-width: rem-calc(400);
			}

			@include breakpoint(medium) {
				max-width: none;
			}
		}

		#read-more {
			z-index: 10;
			text-align: center;
			width: 100%;
		}

		.article-headline,
		.article-category {
			margin: 0;
			text-shadow: 0 0 rem-calc(10) rgba(0,0,0,.50);
			line-height: 1.2;
		}

		.article-category {
			@include breakpoint(760 up) {
				font-size: rem-calc(18);
			}
		}

		.article-headline {
			text-transform: initial;

			&:after {
				content: '>';
				margin-left: rem-calc(6);
				color: $macos-blue;
			}

			@include breakpoint(759 down) {
				font-size: rem-calc(21);
			}
		}
	}
}
