footer {
	margin-top: rem-calc(40);
	border-top: rem-calc(3) solid #5a5a5a;
	background: rgba(110,110,110,.80);
	// background: #6f6f6f;
	// mix-blend-mode: multiply;
	padding: rem-calc(80 0);

	.meta-nav {
		a {
			line-height: 1.6;
			color: #fff;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
