@import "../_settings.scss";

#top-nav {
	.menu {
		padding-top: 8px;
		position: absolute;
		z-index: 100;
	}

	.menu.align-right {
		padding-right: 30px;
		right: 0;
		// padding-top: 8px;
		// position: absolute;
		// z-index: 100;

		li {
			margin-left: 16px;
			background: #F4F4F4;
			border: 2px solid #566372;
			border-radius: 6px;

			a {
				padding: 12px;
				color: #222;
				font-size: 22px;
			}
		}
	}

	i.hamburger {
		@include hamburger($black, $black, 22px, 20px, 4px, 3);
		vertical-align: bottom;
	}
}


#hidden-nav.menu-wrapper {
	position: absolute;
	z-index: 20;
	background: #566372;
	width: 100%;
	height: 66px;
	padding-top: 8px;
	display: none;

	.menu {
		background: none;

		li {
			margin-left: 16px;
			background: #F4F4F4;
			border: 2px solid #566372;
			border-radius: 6px;

			a {
				padding: 12px;
				color: #222;
				font-size: 22px;
			}
		}
	}
}