@import "../_settings.scss";

// -----------------------------------------------
// |            Complete Page Wrapper            |
// -----------------------------------------------

.off-canvas-wrapper {
	@include breakpoint(small only) {
		background: #566372;
	}
}


// ----------------------------------------------
// |            Page Content Wrapper            |
// ----------------------------------------------

.off-canvas-content {
	@include breakpoint(medium) {
		box-shadow: none;
		padding: 0;
		background: none;
	}
}


// ------------------------------------------------
// |            Off-Canvas Menu toggle            |
// ------------------------------------------------

#offCanvas-menu--toggle {
	// float: right;
	// padding: 12px 12px 0 0;

	// button {
		background: #F4F4F4;
		border: 2px solid #566372;
		border-radius: 6px;
		padding: 12px;
		color: #222;
		font-size: 22px;

		i.hamburger {
			@include hamburger($black, $black, 22px, 20px, 4px, 3);
			vertical-align: bottom;
		}
	// }
}

#mobileNavBar-wrapper {
	float: right;
	padding: 12px 12px 0 0;
}

#contactModal-toggle {
	margin-right: 12px;

	img {
		width: 30px;
	}
}

// ------------------------------------------------------
// |            Off-Canvas Menu close-button            |
// ------------------------------------------------------

#offCanvas-menu {
	button.close-button {
		span {
			color: #FA8D5C; 
			font-size: 50px;
		}
	}
}


// --------------------------------------------------
// |            Off-Canvas Menu Contents            |
// --------------------------------------------------

#offCanvas-menu {
	h1 {
		font-size: 36px;
		text-shadow: -4px 4px 0 rgba(0,0,0,0.50);
		color: #fff;
		padding-left: 16px;
		padding-top: 8px;
	}

	ul {
		li {
			a {
				font-size: 22px;
				color: #fff;
			}
		}
	}
}

// --------------------------------------------
// |            Off-Canvas Overlay            |
// --------------------------------------------

.js-off-canvas-exit {
	z-index: 20;
}

