@import '../../_settings.scss';

// -----------------------------------------------
// |            Complete Page Wrapper            |
// -----------------------------------------------

.off-canvas-wrapper {
	background: #566372;
}


// ----------------------------------------------
// |            Page Content Wrapper            |
// ----------------------------------------------

.off-canvas-content {
	padding: 0;

	background: #f4f4f4;
	box-shadow: none;
}


// ------------------------------------------------
// |            Off-Canvas Menu toggle            |
// ------------------------------------------------

#offCanvas-menu--toggle {
	font-size: 16px;

	margin-bottom: 0;
	padding: 12px;
	padding: 8px;

	color: #222;
	border: 2px solid #566372;
	border-radius: 6px;
	background: #f4f4f4;

	@include breakpoint(medium) {
		font-size: 22px;

		padding: 12px;
	}
	i.hamburger {
		vertical-align: bottom;

		@include hamburger($black, $black, 18px, 18px, 4px, 3);
	}
}

#mobileNavBar-wrapper {
	float: right;

	margin-bottom: 16px;
	padding: 12px 12px 0 0;
}

#contactModal-toggle {
	margin-right: 12px;
	img {
		padding-top: 4px;
	}
}

// ------------------------------------------------------
// |            Off-Canvas Menu close-button            |
// ------------------------------------------------------

#offCanvas-menu {
	button.close-button {
		span {
			font-size: 50px;

			color: #fa8d5c;
		}
	}
}


// --------------------------------------------------
// |            Off-Canvas Menu Contents            |
// --------------------------------------------------

#offCanvas-menu {
	h1 {
		font-size: 36px;

		padding-top: 8px;
		padding-left: 16px;

		color: #fff;
		text-shadow: -4px 4px 0 rgba(0,0,0,.50);
		a {
			color: #fff;
		}
	}
	h2 {
		font-size: 22px;
	}
	ul {
		li {
			a {
				font-size: 22px;

				color: #fff;
			}
		}
	}
}

// --------------------------------------------
// |            Off-Canvas Overlay            |
// --------------------------------------------

.js-off-canvas-exit {
	z-index: 20;
}
